@media screen and ( max-width:1250px )
  *
  .scrollup
    margin-left: 0
    left: 0
    bottom: 0
  .container
    max-width: 900px
  .header
    &__nav
      max-width: 400px 
  .hero
    padding-bottom: 550px
  .advantages
    margin-top: -320px
    &__profit
      font-size: 250px
      &__percent
        font-size: 80px
  .profit
    &__block
      &__heading
        margin-right: 30px
    &__calc
      max-width: 550px
      &__input
        width: 70px
      &__payment
        max-width: 300px
      &__result
        max-width: 235px
  .format
    &__img
      max-width: 400px
  .reviews
    &__video
      max-width: 800px
  .results
    &__cards
      margin-right: 0
      max-width: 590px
  .questions
    &__input
      max-width: 210px
    &__button
      max-width: 230px
  .footer
    &__nav
      &__block
        max-width: 560px
@media screen and ( max-width:992px )
  .header__nav__link
    &:hover
      color: #777777
    &::after
      display: none
  .button
    &:hover
      box-shadow: 0px 0px 0px 0px 
  .video
    &:hover
      &::before
          opacity: 0
    &:hover > .video__play
      transform: scale(1)
@media screen and ( max-width:960px )
  .scrollup
    opacity: 0
    visibility: hidden
  .container
    max-width: 700px
  .header
    &__nav
      max-width: 340px
    &__phone  
      font-size: 16px
    &__logo
      font-size: 16px
  .hero
    &__title
      font-size: 60px
    &__info
      font-size: 18px
      max-width: 400px
  .advantages
    &__cards
      flex-wrap: wrap
      padding-bottom: 120px
    &__card
      &-max
        margin: auto
        margin-top: 100px
  .profit
    &__info
      margin-bottom: 50px
      font-size: 18px
      max-width: 500px
    &__block
      flex-direction: column
      &__heading
        text-align: center
        margin: auto
        margin-bottom: 50px
      &__title
        max-width: 100%
      &__info
        max-width: 100%
        margin-top: 10px
    &__calc
      max-width: 100%
  .format
    &__img
      max-width: 330px
  .process
    padding-top: 0
    margin-top: 116px
  .lesson-slider
    &__block
      justify-content: space-between
    &__content
      margin-right: 0
      max-width: 45%
  .price
    &__card
      &__text
        max-width: 200px
  .reviews__video
    max-width: 650px
    min-height: 350px
    max-height: 350px
  .results
    &__block
      flex-direction: column
    &__heading
      text-align: center
      margin: auto
      max-width: 500px
      margin-bottom: 50px
    &__cards
      max-width: 90%
      margin: auto
    &__card
      &__title
        font-size: 24px
      &__text
        font-size: 18px
        font-weight: 300
  .questions
    &__heading
      margin-bottom: 30px
    &__form
      max-width: 400px
      margin: auto
      flex-direction: column
      align-items: center
    &__input
      max-width: 400px
      margin-bottom: 30px
    &__button
      max-width: 100%
  .questions__form label
    &.invalid
      position: absolute
      top: 50%
      left: 0
      margin-top: -23px
      margin-left: 120px
      color: tomato
  .footer
    &__info
      display: none
    &__nav
      &__block
        max-width: 300px
    &__links
      &::before
        display: none

@media screen and ( max-width:750px )
  .container
    max-width: 550px
  .hero
    background: none
    background-image: linear-gradient(180deg, #f7fafc 0%, #e4edf6 100%)
    padding-bottom: 300px
  .advantages
    margin-top: -200px
  .header
    &__logo
      font-size: 20px
    &__phone
      font-size: 18px
    &__nav
      display: none
  .hero
    padding-top: 50px
    &__block
      justify-content: start
      align-items: start
      flex-direction: column
    &__buttons
      max-width: 300px
      margin-bottom: 20px
  .benefit
    display: none
  .simple
    &__video
      min-height: 250px
      max-height: 250px
      background-position: top
  .format
    &__img
      max-width: 100%
      margin-bottom: 10px
    &__cards
      flex-wrap: wrap 
      padding-bottom: 90px
    &__card
      flex-basis: 45%
      margin-bottom: 50px
  .process
    &__content
      max-width: 400px
      flex-wrap: wrap
      margin: auto
      &__card
        max-width: 200px
        margin-bottom: 50px
  .lesson-slider
    &__block
      flex-direction: column
    &__content
      max-width: 100%
      &__left
        margin-bottom: 50px
      &__bonus
        margin-top: 50px
    & .slick-arrow
      margin-bottom: -50px
  .lesson
    &__buttons
      margin-top: 80px
  .privilege
    &__cards
      flex-wrap: wrap
      justify-content: center
      &__title
       font-size: 26px
    &__card
      max-width: 50%
      width: 100%
      &__title
        font-size: 20px
        margin-bottom: 20px
      &__text
        font-size: 18px
  .price
    margin-bottom: 70px
    &__cards
      flex-wrap: wrap
      justify-content: center
    &__card
      flex-basis: 50%
      margin-bottom: 50px
      &:not(:last-child)
        border-right: none
  .reviews
    &__video
      min-height: 250px
      max-height: 250px
      max-width: 500px
  .results
    padding-bottom: 66px
    &__cards
      flex-direction: column
      justify-content: center
      align-items: center
    &__card
      display: flex
      flex-direction: column
      align-items: center
      margin-bottom: 50px
      &__text
        max-width: 100%
  .footer
    &__contacts
      max-width: 220px
@media screen and ( max-width:600px )
  .container
    max-width: 400px
  .hero
    &__title
      font-size: 50px
      margin-bottom: 20px
  .advantages
    margin-top: -220px
    &__title
      max-width: 300px
      margin: auto
      display: flex
      justify-content: center
      margin-bottom: 20px
    &__cards
      flex-direction: column
      align-items: center
    &__card
      text-align: center
      &__img
        margin-bottom: 20px
      &__title
        margin: auto
        margin-bottom: 20px
    &__profit
      font-size: 230px
      &__card
        text-align: center
        margin-bottom: 50px
    &__text
      font-size: 20px
      max-width: 100%
  .profit
    &__info
      font-size: 20px
      margin-bottom: 70px
    &__block
      &__info
        font-size: 18px
    &__calc
      &__content
        flex-direction: column
      &__info
        font-size: 18px
        max-width: 70%
      &__payment
        margin-bottom: 20px
        max-width: 100%
        width: 100%
        justify-content: start
      &__result
        max-width: 100%
        width: 100%
        justify-content: start

        &__info
          font-size: 18px
          max-width: 70%
      &__input
        margin-right: 40px
    &__button
      max-width: 100%
      width: 100%
      margin: auto
      margin-top: 50px
  .simple
    &__create
      &__title
        font-size: 24px
      &__info
        font-size: 18px
        line-height: 1.4
  .format
    &__images
      &__text
        font-size: 18px
    &__cards
      flex-direction: column
    &__card
      display: flex
      flex-direction: column
      align-items: center
      &__img
        margin-bottom: 20px
      &__title
        margin-bottom: 20px
      &__text
        font-size: 20px
        max-width: 100%
        text-align: center
  .process
    padding-bottom: 0
    &__content
      &__info
        font-size: 24px
      &__text
        font-size: 18px
        max-width: 175px
  .lesson
    display: none
  .privilege
    &__cards
      flex-direction: column
      align-items: center
    &__card
      max-width: 100%
      &:not(:last-child)
        margin-bottom: 50px
      &__title
        font-size: 24px
        font-weight: 400
      &__text
        max-width: 100%
        width: 100%
  .price
    &__info
      font-size: 18px
    &__cards
      flex-direction: column
      align-items: center
    &__card
      &__text
        max-width: 100%
        font-size: 18px

@media screen and ( max-width: 430px )
  .modal
    &__calc
      &__close-img
        margin: 10px
  .modal__policy label.invalid
    margin-top: 40px
    margin-left: -14px
  .section
    &__info
      font-size: 18px
  .container
    max-width: 300px
  .header
    &__logo
      margin-bottom: 10px
    &__block
      flex-direction: column
  .hero
    &__title
      font-size: 40px
      font-weight: 400
  .advantages
    &__title
      font-size: 30px
      max-width: 250px
    &__profit
      font-size: 200px
  .profit
    &__button
      text-align: center
  .study
    &__info
      max-width: 360px
  .simple
    &__cell
      margin: 0
      margin-bottom: 100px
      margin-top: 100px
    &__video
      min-height: 200px
      max-height: 200px
      max-width: 100%
  .format
    &__images
      &__info
        margin: 30px
      &__title
        margin-bottom: 10px
      &__text
        font-size: 16px
  .process
    &__title
      margin-bottom: 70px
    &__content
      flex-direction: column
      align-items: center
      &__card
        text-align: center
  .reviews
    &__video
      min-height: 200px
      max-height: 200px
      max-width: 280px
      background-size: cover
  .footer
    padding-top: 50px
    padding-bottom: 50px
    &__title
      font-size: 30px
    &__nav
      max-width: 300px
      width: 100%
    &__contacts
      margin-top: 30px
    &__content
      flex-direction: column