@media screen and ( max-width:1250px )
  .container
    max-width: 900px
  .header
    &__nav
      max-width: 400px 
  .hero
    padding-bottom: 550px
  .advantages
    margin-top: -320px
    &__profit
      font-size: 250px
      &__percent
        font-size: 80px
  .profit
    &__calc
      max-width: 550px
      &__input
        width: 70px
      &__payment
        max-width: 300px
      &__result
        max-width: 235px
  .format
    &__img
      max-width: 400px
  .reviews
    &__video
      max-width: 800px
  .results
    &__cards
      margin-right: 0
      max-width: 590px
  .questions
    &__input
      max-width: 210px
    &__button
      max-width: 230px
  .footer
    &__nav
      &__block
        max-width: 560px

@media screen and ( max-width:960px )
  .container
    max-width: 700px
  .header
    &__nav
      max-width: 340px
    &__phone  
      font-size: 16px
    &__logo
      font-size: 16px
  .hero
    &__title
      font-size: 60px
    &__info
      font-size: 18px
      max-width: 400px
  .advantages
    &__cards
      flex-wrap: wrap
      padding-bottom: 120px
    &__card
      &-max
        margin: auto
        margin-top: 100px
  .profit
    &__info
      margin-bottom: 50px
      font-size: 18px
      max-width: 500px
    &__block
      flex-direction: column
      &__heading
        text-align: center
        margin: auto
        margin-bottom: 50px
      &__title
        max-width: 100%
      &__info
        max-width: 100%
        margin-top: 10px
    &__calc
      max-width: 100%
  .format
    &__img
      max-width: 330px
  .process
    padding-top: 0
    margin-top: 116px
  .lesson-slider
    &__block
      justify-content: space-between
    &__content
      margin-right: 0
      max-width: 45%
  .price
    &__card
      &__text
        max-width: 200px
  .reviews__video
    max-width: 650px
    min-height: 350px
    max-height: 350px
  .results
    &__block
      flex-direction: column
    &__heading
      text-align: center
      margin: auto
      max-width: 500px
      margin-bottom: 50px
    &__cards
      max-width: 90%
      margin: auto
    &__card
      &__title
        font-size: 24px
      &__text
        font-size: 18px
        font-weight: 300
  .questions
    &__heading
      margin-bottom: 30px
    &__form
      max-width: 400px
      margin: auto
      flex-direction: column
      align-items: center
    &__input
      max-width: 400px
      margin-bottom: 30px
    &__button
      max-width: 100%
  .footer
    &__info
      display: none
    &__nav
      &__block
        max-width: 300px
    &__links
      &::before
        display: none

@media screen and ( max-width:750px )
  .container
    max-width: 550px
  .header
    &__logo
      font-size: 20px
    &__phone
      font-size: 18px
    &__nav
      display: none
  .hero
    padding-top: 50px
    &__block
      justify-content: start
      align-items: start
      flex-direction: column
    &__buttons
      max-width: 300px
      margin-bottom: 20px