@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 12px;
}

body {
  font-family: Roboto;
  font-weight: 400;
}

.section__heading {
  text-align: center;
}

.section__title {
  font-size: 34px;
  font-weight: 300;
}

.section__info {
  margin-top: 30px;
  font-size: 16px;
  display: inline-block;
}

.section__text-bold {
  font-weight: 700;
}

.section__text-normal {
  font-weight: 400;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.selection {
  color: #06bee1;
}

.button {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 17px;
  font-weight: 700;
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.button__primary {
  background-color: #0056cf;
  color: #ffffff;
  border: none;
}

.button__primary:hover {
  -webkit-box-shadow: 0px 12px 24px 0px rgba(6, 57, 158, 0.31);
          box-shadow: 0px 12px 24px 0px rgba(6, 57, 158, 0.31);
}

.button__secondary {
  border: 1px solid #0056cf;
  color: #0056cf;
  background-color: transparent;
}

.button__secondary:hover {
  -webkit-box-shadow: 0px 12px 24px 0px rgba(6, 57, 158, 0.15);
          box-shadow: 0px 12px 24px 0px rgba(6, 57, 158, 0.15);
}

.button__light {
  border: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
}

.button__light:hover {
  -webkit-box-shadow: 0px 12px 24px 0px rgba(255, 255, 255, 0.2);
          box-shadow: 0px 12px 24px 0px rgba(255, 255, 255, 0.2);
}

.input {
  font-size: 18px;
  padding: 17px;
  border-radius: 4px;
  border: none;
}

.input::-webkit-input-placeholder {
  color: #0f1c2e;
}

.input:-ms-input-placeholder {
  color: #0f1c2e;
}

.input::-ms-input-placeholder {
  color: #0f1c2e;
}

.input::placeholder {
  color: #0f1c2e;
}

.modal__input-group label.invalid {
  position: absolute;
  color: tomato;
  margin-top: 60px;
}

.modal__policy label.invalid {
  position: absolute;
  color: tomato;
  margin-top: 20px;
  margin-left: 10px;
}

.learn__form label.invalid {
  position: absolute;
  top: 50%;
  margin-top: -18px;
  color: tomato;
  margin-left: 110px;
}

.modal__input-group input.invalid {
  border-bottom: 1px solid tomato;
}

.scrollup {
  position: fixed;
  top: 90%;
  margin-left: 100px;
  color: #06bee1;
  font-size: 20px;
  cursor: pointer;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col-40 {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.col-20 {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.header {
  position: relative;
  background-color: white;
  padding-top: 2.5rem;
  padding-bottom: 2.25rem;
}

.header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

.header__logo {
  font-size: 1.6rem;
  font-family: Roboto;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo::before {
  content: '';
  background: url("../img/logo.png");
  width: 25px;
  height: 27px;
  margin-right: 10px;
}

.header__nav {
  max-width: 500px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav__link {
  position: relative;
  text-decoration: none;
  color: #777777;
  font-size: 1.16rem;
  font-weight: 700;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.header__nav__link::after {
  position: absolute;
  content: '';
  top: 3.83rem;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: #0056cf;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.header__nav__link:hover {
  color: #000000;
}

.header__nav__link:hover::after {
  width: 100%;
}

.phone {
  font-size: 1.6rem;
  text-decoration: none;
  color: #777777;
}

.phone-selection {
  color: #000000;
  font-weight: 700;
}

.hero {
  padding-top: 177px;
  padding-bottom: 633px;
  background: url("../img/promo-bgg.png") no-repeat center/cover;
}

.hero__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__title {
  font-size: 6rem;
  font-weight: 300;
}

.hero__title__info {
  font-size: 2.8333rem;
  font-weight: 300;
}

.hero__info {
  max-width: 27rem;
  margin-top: 2rem;
  font-size: 14px;
}

.hero__block {
  margin-top: 5.66rem;
  max-width: 50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__block__text {
  font-size: 1.666rem;
  max-width: 24rem;
}

.hero__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__button {
  padding: 18px 40px;
  margin-bottom: 12px;
}

.advantages {
  margin-top: -350px;
}

.advantages__title {
  background: #ffffff;
  padding: 15px 20px;
  display: inline-block;
  font-size: 36px;
  font-weight: 300;
}

.advantages__profit {
  font-size: 300px;
  font-weight: 100;
}

.advantages__profit__percent {
  font-size: 112px;
}

.advantages__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 140px;
  border-bottom: 1px solid #eaf1f7;
}

.advantages__card__title {
  max-width: 270px;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 31px;
}

.advantages__card__title-normal {
  font-weight: 300;
}

.advantages__card__img {
  margin-bottom: 70px;
}

.advantages__text {
  font-size: 14px;
  max-width: 235px;
  line-height: 1.5;
}

.advantages__analys {
  margin-bottom: -21px;
}

.profit {
  margin-top: 110px;
}

.profit__title {
  margin: auto;
}

.profit__info {
  max-width: 370px;
  margin-bottom: 70px;
}

.profit__form {
  max-width: 700px;
  width: 100%;
}

.profit__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 1120px;
}

.profit__block__title {
  font-size: 20px;
  max-width: 260px;
}

.profit__block__info {
  font-size: 16px;
  display: inline-block;
  max-width: 200px;
  margin-top: 36px;
}

.profit__calc {
  max-width: 700px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.profit__calc__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profit__calc__content:first-child {
  padding-bottom: 35px;
  border-bottom: 1px solid #eaf1f7;
  margin-bottom: 20px;
}

.profit__calc__payment {
  width: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profit__calc__result {
  width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profit__calc__result__info {
  max-width: 149px;
  font-size: 16px;
}

.profit__calc__input {
  width: 98px;
  height: 48px;
  padding-left: 18px;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid #cfdeee;
  border-radius: 4px;
}

.profit__calc__info {
  max-width: 210px;
  font-size: 16px;
}

.profit__button {
  margin-top: 80px;
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.study {
  margin-top: 120px;
  background: url("../img/study_bg.jpg") no-repeat center/cover;
  padding-top: 127px;
  padding-bottom: 119px;
  text-align: center;
  color: #ffffff;
}

.study__info {
  font-size: 20px;
  margin: auto;
}

.study__button {
  background: none;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 30px;
}

.study__button:hover {
  -webkit-box-shadow: 0px 12px 24px 0px rgba(255, 255, 255, 0.2);
          box-shadow: 0px 12px 24px 0px rgba(255, 255, 255, 0.2);
}

.benefit {
  position: relative;
  padding-top: 160px;
  background: #eaf1f7;
  padding-bottom: 178px;
}

.benefit-bg {
  background: url("../img/benefit-phone.png") no-repeat center;
  padding-bottom: 193px;
}

.benefit::before {
  position: absolute;
  content: '';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 0;
  left: 50%;
  display: flex;
  height: 560px;
  width: 315px;
  margin-left: -157.5px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f7fafc), to(#e4edf6));
  background-image: linear-gradient(0deg, #f7fafc 0%, #e4edf6 100%);
}

.benefit__title {
  max-width: 465px;
  margin: auto;
  text-align: center;
  padding-bottom: 300px;
}

.benefit-line__title {
  font-size: 18px;
  margin-bottom: 25px;
}

.benefit-line__text {
  font-size: 14px;
  max-width: 160px;
  display: inline-block;
}

.benefit-line__images {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 52px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.benefit-line__images::before {
  position: absolute;
  content: '';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 50%;
  margin-top: -55px;
  margin-left: -23px;
  width: 46px;
  height: 57px;
  background: url("../img/height.png") no-repeat center;
}

.benefit__slider {
  width: 320px;
  height: 370px;
  margin: auto;
  overflow: hidden;
}

.benefit__slider-line {
  padding-top: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 960px;
  position: relative;
  bottom: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.benefit__slider-line__card {
  max-width: 320px;
  width: 100%;
  text-align: center;
}

.benefit__slider__buttons {
  position: relative;
  max-width: 750px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
  margin-top: -371px;
}

.benefit__slider__buttons-next {
  text-align: right;
  position: absolute;
  right: 20px;
  margin-top: -20px;
}

.benefit__slider__buttons-prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.benefit__slider-prev {
  width: 52px;
  height: 16px;
  margin-bottom: 9px;
  cursor: pointer;
}

.benefit__slider-prev-text {
  font-size: 16px;
}

.benefit__slider-next {
  position: absolute;
  right: 0;
  bottom: 25px;
  background: transparent;
  border: none;
  width: 52px;
  height: 16px;
  cursor: pointer;
}

.benefit__slider-next-text {
  font-size: 16px;
}

.simple {
  background-color: #ffffff;
  margin-top: 117px;
  text-align: center;
}

.simple__info {
  max-width: 360px;
}

.simple__cell {
  position: relative;
  margin: 100px;
  font-size: 23px;
}

.simple__cell::before {
  position: absolute;
  content: '';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 50%;
  bottom: 50px;
  margin-left: -1px;
  width: 1px;
  height: 47px;
  background-color: #eaf1f7;
}

.simple__video {
  background: url("../img/simple_video.jpg") no-repeat center;
}

.simple__create {
  max-width: 1200px;
  padding-bottom: 120px;
  border-bottom: 1px solid #eaf1f7;
}

.simple__create__title {
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.simple__create__info {
  max-width: 560px;
  font-size: 15px;
  margin: auto;
  margin-bottom: 45px;
}

.simple__button {
  max-width: 560px;
  width: 100%;
}

.video {
  position: relative;
  min-height: 387px;
  max-height: 387px;
  max-width: 945px;
  margin: auto;
}

.video__play {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -32px;
  margin-top: -32px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.video::before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
}

.video:hover {
  cursor: pointer;
}

.video:hover::before {
  opacity: 100;
}

.video:hover > .video__play {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.format {
  margin-top: 117px;
}

.format__title {
  text-align: center;
  margin-bottom: 70px;
}

.format__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 70px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.format__images__content {
  position: relative;
}

.format__images__info {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 47px;
  color: #ffffff;
}

.format__images__title {
  font-size: 24px;
  margin-bottom: 30px;
  max-width: 100px;
}

.format__images__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
}

.format__images__text-test {
  max-width: 200px;
}

.format__images__text-help {
  max-width: 272px;
}

.format__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-bottom: 140px;
  border-bottom: 1px solid #eaf1f7;
}

.format__card {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.format__card__img {
  position: relative;
  margin-bottom: 49px;
}

.format__card__img::before {
  position: absolute;
  content: '';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.format__card__img-radio {
  width: 64px;
  height: 44px;
  background: url("../img/radio.png");
}

.format__card__img-radio::before {
  background: url("../img/radio_bg.png");
  width: 64px;
  height: 64px;
  bottom: 11px;
  left: 34px;
}

.format__card__img-letter {
  width: 64px;
  height: 64px;
  background: url("../img/letter.png");
}

.format__card__img-letter::before {
  background: url("../img/letter_bg.png") no-repeat;
  width: 42px;
  height: 64px;
  bottom: 11px;
  left: 44px;
}

.format__card__img-massage {
  width: 64px;
  height: 57px;
  background: url("../img/massage.png");
}

.format__card__img-massage::before {
  background: url("../img/massage_bg.png") no-repeat;
  width: 64px;
  height: 64px;
  bottom: 2px;
  left: 9px;
}

.format__card__img-online {
  width: 64px;
  height: 55px;
  background: url("../img/online.png");
}

.format__card__img-online::before {
  background: url("../img/online_bg.png") no-repeat;
  width: 64px;
  height: 64px;
  left: 55px;
}

.format__card__title {
  font-size: 24px;
  margin-bottom: 32px;
}

.format__card__text {
  font-size: 15px;
}

.process {
  margin-top: 70px;
  padding-top: 46px;
  padding-bottom: 116px;
  background: url("../img/process_bg.png") no-repeat top/cover;
}

.process__title {
  max-width: 450px;
  margin-bottom: 110px;
}

.process__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.process__content__title {
  font-size: 30px;
  margin-bottom: 30px;
}

.process__content__info {
  font-size: 20px;
}

.process__content__text {
  font-size: 14px;
  margin-top: 30px;
  max-width: 149px;
}

.lesson {
  padding-top: 120px;
  padding-bottom: 120px;
  background: #0f1c2e url("../img/lesson_bg.jpg") no-repeat bottom/cover;
  color: #ffffff;
}

.lesson-slider {
  position: relative;
}

.lesson-slider__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.lesson-slider__title {
  font-size: 26px;
  margin-bottom: 74px;
}

.lesson-slider__content {
  margin-right: 150px;
}

.lesson-slider__content__left {
  max-width: 440px;
}

.lesson-slider__content__title {
  font-size: 20px;
}

.lesson-slider__content__list {
  margin-bottom: 50px;
}

.lesson-slider__content__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #68799a;
}

.lesson-slider__content__text__left {
  padding-left: 30px;
}

.lesson-slider__content__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-top: 25px;
}

.lesson-slider__content__item__title {
  font-size: 16px;
  color: #68799a;
  margin-right: 16px;
}

.lesson-slider__content__item__text {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.2;
}

.lesson-slider__content__item__text__right {
  font-size: 16px;
}

.lesson-slider__content__item__homework {
  padding-bottom: 70px;
  border-bottom: 1px solid #26556c;
}

.lesson-slider__content__img {
  margin-right: 21px;
}

.lesson-slider__content__bonus {
  margin-top: 80px;
}

.lesson-slider__content__bonus__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.lesson-slider__content__bonus__title {
  font-size: 20px;
  margin-bottom: 28px;
}

.lesson-slider__content__bonus__text {
  max-width: 290px;
}

.lesson-slider .slick-arrow {
  position: absolute;
  bottom: 0;
  margin-bottom: -100px;
  z-index: 20;
  font-size: 0;
  height: 20px;
  width: 50px;
  border: none;
  cursor: pointer;
}

.lesson-slider .slick-arrow.slick-prev {
  left: 0;
  background: url("../img/lesson_nav.png") 100% no-repeat;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.lesson-slider .slick-arrow.slick-next {
  right: 0;
  background: url("../img/lesson_nav.png") 100% no-repeat;
}

.lesson-slider .slick-arrow.slick-disabled {
  opacity: 0.1;
}

.lesson-slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
}

.lesson-slider .slick-dots::before {
  content: 'Номер урока:';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 53px;
  font-size: 16px;
  font-weight: 300;
  color: #68799a;
}

.lesson-slider .slick-dots li {
  list-style: none;
}

.lesson-slider .slick-dots button {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: white;
}

.lesson-slider .slick-dots li.slick-active button {
  background-color: #06bee1;
}

.lesson__buttons {
  max-width: 560px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 64px;
}

.lesson__button {
  width: 265px;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-list {
  overflow: hidden;
}

.privilege {
  position: relative;
  padding-top: 119px;
  padding-bottom: 116px;
  background-color: #eaf1f7;
  text-align: center;
}

.privilege__title {
  margin-bottom: 60px;
}

.privilege__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.privilege__cards__title {
  font-size: 24px;
  margin-top: 65px;
  margin-bottom: 25px;
}

.privilege__card {
  width: 30%;
}

.privilege__card__image {
  margin-bottom: 10px;
}

.privilege__card__title {
  font-size: 16px;
}

.privilege__card__text {
  max-width: 250px;
  margin: auto;
  font-size: 16px;
  line-height: 24px;
}

.price {
  position: relative;
  padding-top: 118px;
  margin-bottom: 120px;
}

.price::before {
  position: absolute;
  content: '';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 50%;
  margin-left: -1px;
  width: 1px;
  height: 72px;
  background-color: #eaf1f7;
}

.price__info {
  max-width: 355px;
}

.price__cards {
  max-width: 970px;
  margin: auto;
  margin-top: 74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.price__card {
  min-height: 390px;
  position: relative;
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
}

.price__card:not(:last-child) {
  border-right: 1px solid #eaf1f7;
}

.price__card__title {
  font-size: 20px;
}

.price__card__info {
  font-size: 20px;
  font-weight: 700;
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 45px;
}

.price__card__text {
  font-size: 16px;
  max-width: 230px;
  margin: auto;
  margin-bottom: 30px;
}

.price__button {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -85px;
  width: 170px;
}

.learn {
  padding-top: 128px;
  padding-bottom: 122px;
  background: url("../img/learn_bg.jpg") no-repeat center/cover;
}

.learn__heading {
  color: #ffffff;
  max-width: 420px;
  margin: auto;
  text-align: center;
}

.learn__title {
  font-size: 24px;
  font-weight: bold;
}

.learn__info {
  line-height: 24px;
  font-weight: 300;
  margin-top: 26px;
  margin-bottom: 45px;
}

.learn__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 360px;
  margin: auto;
}

.learn__form__input {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.learn__input {
  margin-bottom: 24px;
}

.reviews {
  position: relative;
  padding-top: 120px;
  text-align: center;
}

.reviews::after {
  position: absolute;
  content: '';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 50%;
  margin-left: -1px;
  height: 70px;
  width: 1px;
  background-color: #eaf1f7;
}

.reviews__title {
  margin-bottom: 64px;
}

.reviews__info {
  margin-top: 77px;
}

.reviews__info__title {
  font-size: 24px;
  margin-bottom: 36px;
}

.reviews__text {
  font-size: 16px;
  max-width: 546px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  line-height: 1.4;
}

.reviews__video {
  background: url("../img/reviews_video.jpg") no-repeat center;
}

.results {
  margin-top: 116px;
  padding-bottom: 116px;
  background: url("../img/bg_lines.png") no-repeat left bottom;
}

.results__heading {
  max-width: 280px;
}

.results__info {
  line-height: 24px;
}

.results__block {
  padding-top: 120px;
  border-top: 1px solid #eaf1f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.results__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 660px;
  width: 100%;
  margin-right: 53px;
}

.results__card__title {
  font-size: 20px;
  font-weight: 300;
  margin-top: 34px;
  margin-bottom: 31px;
}

.results__card__text {
  font-size: 14px;
  line-height: 24px;
  max-width: 260px;
}

.results__card__text-secondary {
  max-width: 230px;
}

.modal__calc {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 199;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(15, 28, 46, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__calc--visible {
  opacity: 1;
  visibility: visible;
}

.modal__calc__dialog {
  position: relative;
  max-width: 600px;
  width: 100%;
  min-height: 10rem;
  background: #ffffff;
  padding: 5rem 1rem;
  color: #ffffff;
}

.modal__calc__close {
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  height: 20px;
  background: transparent;
  border: none;
  margin: 12px;
  cursor: pointer;
  outline: none;
}

.modal__calc__close-img {
  width: 20px;
  height: 20px;
  opacity: 0.5;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.modal__calc__close-img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.modal__calc__title {
  font-size: 30px;
  text-align: center;
  margin: 0;
  margin-bottom: 2.428rem;
  color: #0f1c2e;
  font-weight: 400;
}

#out {
  font-size: 36px;
  text-align: center;
  color: #06bee1;
}

.create {
  padding-top: 128px;
  padding-bottom: 118px;
  background: url("../img/create_bg.jpg") no-repeat center/cover;
  text-align: center;
}

.create__title {
  font-size: 24px;
  max-width: 310px;
  margin: auto;
  line-height: 1.2;
}

.create__button {
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 50px;
}

.questions {
  padding-top: 128px;
  padding-bottom: 123px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(-114%, #03256c), color-stop(215%, #061826));
  background-image: linear-gradient(0deg, #03256c -114%, #061826 215%);
}

.questions__heading {
  text-align: center;
  color: #ffffff;
}

.questions__title {
  font-size: 24px;
}

.questions__info {
  max-width: 450px;
}

.questions__form {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.questions__input {
  max-width: 263px;
  width: 100%;
  margin-bottom: 0;
}

.questions__button {
  max-width: 263px;
  width: 100%;
}

.footer {
  padding-top: 128px;
  padding-bottom: 128px;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__title {
  font-weight: 300;
  font-size: 24px;
  margin-bottom: 50px;
}

.footer__info {
  font-size: 17px;
  font-weight: 300;
  line-height: 1.5;
  max-width: 130px;
  display: inline-block;
}

.footer__nav {
  width: 730px;
}

.footer__nav__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__links {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__links::before {
  position: absolute;
  content: '';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  margin-top: -55px;
  width: 132px;
  height: 1px;
  background-color: #eaf1f7;
}

.footer__link {
  margin-bottom: 15px;
  font-size: 17px;
  text-decoration: none;
  color: #777777;
}

.footer__input {
  font-size: 17px;
  padding: 17px 19px;
  border: 1px solid #cfdeee;
  border-radius: 4px;
}

.footer__input:placeholder {
  color: #777777;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__contacts__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 256px;
  margin-top: 20px;
}

.footer__contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 39px;
  height: 39px;
  border: 1px solid #0056cf;
  border-radius: 50%;
}

.footer__contacts__img {
  width: auto;
  height: auto;
}

.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 199;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(15, 28, 46, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal--visible {
  opacity: 1;
  visibility: visible;
}

.modal__dialog {
  position: relative;
  max-width: 36.36rem;
  background-color: #ffffff;
  padding: 50px 60px;
  color: #0f1c2e;
}

.modal__close {
  position: absolute;
  right: 0;
  top: 0;
  background: transparent;
  border: none;
  margin: 15px;
  cursor: pointer;
  outline: none;
}

.modal__title {
  font-size: 24px;
  text-align: center;
  margin: 0;
  margin-bottom: 2.428rem;
  font-weight: 400;
}

.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__input {
  border-bottom: 1px solid black;
  border-radius: 0;
  padding-left: 0;
}

.modal__input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 3.428rem;
}

.modal__policy {
  margin-bottom: 2.7rem;
  cursor: pointer;
}

.modal__label {
  font-size: 16px;
  padding-left: 10px;
  cursor: pointer;
}

.modal__checkbox {
  cursor: pointer;
}

.modal__button {
  max-width: 100%;
  width: 100%;
  margin: auto;
}

@media screen and (max-width: 1250px) {
  .container {
    max-width: 900px;
  }
  .header__nav {
    max-width: 400px;
  }
  .hero {
    padding-bottom: 550px;
  }
  .advantages {
    margin-top: -320px;
  }
  .advantages__profit {
    font-size: 250px;
  }
  .advantages__profit__percent {
    font-size: 80px;
  }
  .profit__calc {
    max-width: 550px;
  }
  .profit__calc__input {
    width: 70px;
  }
  .profit__calc__payment {
    max-width: 300px;
  }
  .profit__calc__result {
    max-width: 235px;
  }
  .format__img {
    max-width: 400px;
  }
  .reviews__video {
    max-width: 800px;
  }
  .results__cards {
    margin-right: 0;
    max-width: 590px;
  }
  .questions__input {
    max-width: 210px;
  }
  .questions__button {
    max-width: 230px;
  }
  .footer__nav__block {
    max-width: 560px;
  }
}

@media screen and (max-width: 960px) {
  .container {
    max-width: 700px;
  }
  .header__nav {
    max-width: 340px;
  }
  .header__phone {
    font-size: 16px;
  }
  .header__logo {
    font-size: 16px;
  }
  .hero__title {
    font-size: 60px;
  }
  .hero__info {
    font-size: 18px;
    max-width: 400px;
  }
  .advantages__cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 120px;
  }
  .advantages__card-max {
    margin: auto;
    margin-top: 100px;
  }
  .profit__info {
    margin-bottom: 50px;
    font-size: 18px;
    max-width: 500px;
  }
  .profit__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .profit__block__heading {
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
  }
  .profit__block__title {
    max-width: 100%;
  }
  .profit__block__info {
    max-width: 100%;
    margin-top: 10px;
  }
  .profit__calc {
    max-width: 100%;
  }
  .format__img {
    max-width: 330px;
  }
  .process {
    padding-top: 0;
    margin-top: 116px;
  }
  .lesson-slider__block {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .lesson-slider__content {
    margin-right: 0;
    max-width: 45%;
  }
  .price__card__text {
    max-width: 200px;
  }
  .reviews__video {
    max-width: 650px;
    min-height: 350px;
    max-height: 350px;
  }
  .results__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .results__heading {
    text-align: center;
    margin: auto;
    max-width: 500px;
    margin-bottom: 50px;
  }
  .results__cards {
    max-width: 90%;
    margin: auto;
  }
  .results__card__title {
    font-size: 24px;
  }
  .results__card__text {
    font-size: 18px;
    font-weight: 300;
  }
  .questions__heading {
    margin-bottom: 30px;
  }
  .questions__form {
    max-width: 400px;
    margin: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .questions__input {
    max-width: 400px;
    margin-bottom: 30px;
  }
  .questions__button {
    max-width: 100%;
  }
  .footer__info {
    display: none;
  }
  .footer__nav__block {
    max-width: 300px;
  }
  .footer__links::before {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .container {
    max-width: 550px;
  }
  .hero {
    background: none;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f7fafc), to(#e4edf6));
    background-image: linear-gradient(180deg, #f7fafc 0%, #e4edf6 100%);
    padding-bottom: 300px;
  }
  .advantages {
    margin-top: -200px;
  }
  .header__logo {
    font-size: 20px;
  }
  .header__phone {
    font-size: 18px;
  }
  .header__nav {
    display: none;
  }
  .hero {
    padding-top: 50px;
  }
  .hero__block {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero__buttons {
    max-width: 300px;
    margin-bottom: 20px;
  }
  .benefit {
    display: none;
  }
  .simple__video {
    min-height: 250px;
    max-height: 250px;
    background-position: top;
  }
  .format__img {
    max-width: 100%;
    margin-bottom: 10px;
  }
  .format__cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 90px;
  }
  .format__card {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    margin-bottom: 50px;
  }
  .process__content {
    max-width: 400px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: auto;
  }
  .process__content__card {
    max-width: 200px;
    margin-bottom: 50px;
  }
  .lesson-slider__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .lesson-slider__content {
    max-width: 100%;
  }
  .lesson-slider__content__left {
    margin-bottom: 50px;
  }
  .lesson-slider__content__bonus {
    margin-top: 50px;
  }
  .lesson-slider .slick-arrow {
    margin-bottom: -50px;
  }
  .lesson__buttons {
    margin-top: 80px;
  }
  .privilege__cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .privilege__cards__title {
    font-size: 26px;
  }
  .privilege__card {
    max-width: 50%;
    width: 100%;
  }
  .privilege__card__title {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .privilege__card__text {
    font-size: 18px;
  }
  .price {
    margin-bottom: 70px;
  }
  .price__cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .price__card {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin-bottom: 50px;
  }
  .price__card:not(:last-child) {
    border-right: none;
  }
  .reviews__video {
    min-height: 250px;
    max-height: 250px;
    max-width: 500px;
  }
  .results {
    padding-bottom: 66px;
  }
  .results__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .results__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 50px;
  }
  .results__card__text {
    max-width: 100%;
  }
  .footer__contacts {
    max-width: 220px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    max-width: 400px;
  }
  .hero__title {
    font-size: 50px;
    margin-bottom: 20px;
  }
  .advantages {
    margin-top: -220px;
  }
  .advantages__title {
    max-width: 300px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px;
  }
  .advantages__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .advantages__card__img {
    margin-bottom: 20px;
  }
  .advantages__profit {
    font-size: 230px;
  }
  .advantages__profit__card {
    margin-bottom: 50px;
  }
  .advantages__text {
    font-size: 20px;
    max-width: 100%;
  }
  .profit__info {
    font-size: 20px;
    margin-bottom: 70px;
  }
  .profit__block__info {
    font-size: 18px;
  }
  .profit__calc__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .profit__calc__info {
    font-size: 18px;
    max-width: 70%;
  }
  .profit__calc__payment {
    margin-bottom: 20px;
    max-width: 100%;
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .profit__calc__result {
    max-width: 100%;
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .profit__calc__result__info {
    font-size: 18px;
    max-width: 70%;
  }
  .profit__calc__input {
    margin-right: 40px;
  }
  .profit__button {
    max-width: 100%;
    width: 100%;
    margin: auto;
    margin-top: 50px;
  }
  .simple__create__title {
    font-size: 24px;
  }
  .simple__create__info {
    font-size: 18px;
    line-height: 1.4;
  }
  .format__images__text {
    font-size: 18px;
  }
  .format__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .format__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .format__card__img {
    margin-bottom: 20px;
  }
  .format__card__title {
    margin-bottom: 20px;
  }
  .format__card__text {
    font-size: 20px;
    max-width: 100%;
    text-align: center;
  }
  .process {
    padding-bottom: 0;
  }
  .process__content__info {
    font-size: 24px;
  }
  .process__content__text {
    font-size: 18px;
    max-width: 175px;
  }
  .lesson {
    display: none;
  }
  .privilege__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .privilege__card {
    max-width: 100%;
  }
  .privilege__card:not(:last-child) {
    margin-bottom: 50px;
  }
  .privilege__card__title {
    font-size: 24px;
    font-weight: 400;
  }
  .privilege__card__text {
    max-width: 100%;
    width: 100%;
  }
  .price__info {
    font-size: 18px;
  }
  .price__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .price__card__text {
    max-width: 100%;
    font-size: 18px;
  }
}
/*# sourceMappingURL=style.css.map */