.simple
  position: relative
  background-color: $light 
  padding-top: 117px
  text-align: center
  &::before
    position: absolute
    content: ''
    display: flex
    top: 0
    left: 50%
    margin-left: -1px
    width: 1px
    height: 72px
    background-color: #eaf1f7
  &__info
    max-width: 360px
  &__cell
    position: relative
    margin: 100px
    font-size: 23px
    &::before
      position: absolute
      content: ''
      display: flex
      left: 50%
      bottom: 50px
      margin-left: -1px
      width: 1px
      height: 47px
      background-color: #eaf1f7
  &__video
    background: url('../img/simple_video.jpg') no-repeat center
  &__create
    max-width: 1200px
    padding-bottom: 120px
    border-bottom: 1px solid #eaf1f7
    &__title
      font-size: 20px
      margin-top: 50px
      margin-bottom: 30px
    &__info
      max-width: 560px
      font-size: 15px
      margin: auto
      margin-bottom: 45px
  &__button
    max-width: 560px
    width: 100%
.video
  position: relative
  min-height: 387px
  max-height: 387px
  max-width: 945px
  margin: auto
  &__play
    position: absolute
    left: 50%
    top: 50%
    margin-left: -32px
    margin-top: -32px
    cursor: pointer
    transition: all 0.2s
  &::before
    position: absolute
    content: ''
    left: 0
    top: 0
    width: 100%
    height: 100%
    transition: all 0.2s
    background: rgba(0, 0, 0, 0.2)
    opacity: 0
  &:hover
    cursor: pointer
    &::before
        opacity: 100
  &:hover > .video__play
    transform: scale(1.2)
      